.dashboard-container {
  background-color: #4c4c4c;
  height: 100vh;
  color: #d3b46f;
  display: flex;
  flex-direction: column;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  background-color: #3a3a3a;
}

.logo {
  font-family: "Cinzel", serif;
  font-size: 1.8rem;
  color: #d3b46f;
}

.user-info p {
  margin: 0;
  font-size: 0.9rem;
  color: #e8d9a5;
}

.profile-icon {
  font-size: 2rem;
  color: #d3b46f;
}

.dashboard-main {
  text-align: center;
  padding-top: 4rem;
}

.dashboard-title {
  font-family: "Cinzel", serif;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #d3b46f;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  background: #e0e0e0;
  border-radius: 10px;
  padding: 0.4rem 1rem;
  width: 50%;
  max-width: 400px;
}

.search-icon {
  color: #3a3a3a;
  margin-right: 0.5rem;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
}

.action-item {
  text-align: center;
  cursor: pointer;
}

.circle {
  background: #f0f0f0;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto 0.5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
