.dashboard-container {
  background-color: #4c4c4c;
  height: 100vh;
  color: #d3b46f;
  display: flex;
  flex-direction: column;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1e1e1e; /* Cor de fundo do header, ajuste se necessário */
}

.user-info,
.header-right-placeholder {
  flex: 1; /* Faz com que ambos ocupem a mesma quantidade de espaço */
}

.logo {
  flex: 1; /* Ocupa o espaço central */
  text-align: center; /* Centraliza o texto do logo */
  color: var(--gold);
  margin: 0;
  font-size: 2rem;
}
.profile-icon {
  font-size: 2rem;
  color: #d3b46f;
}

.dashboard-main {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza todos os filhos diretos horizontalmente */
  padding-top: 4rem;
  gap: 1rem; /* Adiciona um espaçamento entre os elementos */
}

.dashboard-title {
  font-family: "Cinzel", serif;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  color: #d3b46f;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
  background: #e0e0e0;
  border-radius: 10px;
  padding: 0.4rem 1rem;
  width: 50%;
  max-width: 400px;
}

.search-icon {
  color: #3a3a3a;
  margin-right: 0.5rem;
}

.search-box input {
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-top: 3rem;
}

.action-item {
  text-align: center;
  cursor: pointer;
}

.circle {
  background: #dd8901;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0 auto 0.5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
