.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(
    0,
    0,
    0,
    0.3
  ); /* Fundo semi-transparente para destacar */
  color: white;
  width: 100%;
  box-sizing: border-box;
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.logo {
  font-size: 1.8rem;
  font-weight: bold;
  color: var(--black);
  margin: 0;
}

.header-right {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  text-align: right;
}

.user-greeting {
  margin: 0;
  font-size: 1rem;
}

.user-balance,
.balance-amount {
  margin: 0;
}

.dashboard-main {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px; /* Limita a largura do conteúdo principal */
  margin: 0 auto;
}

.balance-card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.5rem;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.user-balance {
  font-size: 1rem;
  color: #555;
}

.balance-amount {
  font-size: 2.2rem;
  font-weight: bold;
  color: #333;
  margin-top: 0.5rem;
}

.dashboard-title {
  color: white;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.actions {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

.action-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 1.5rem;
  border-radius: 12px;
  width: 140px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.action-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.action-item .circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  background-color: #0b0b0b44;
}

.action-item p {
  margin: 0;
  font-weight: 600;
  color: #333;
}
.action-item .circle svg {
  color: black !important;
}
