.layout-split-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.split-panel {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

/* Adicione estilos específicos para os painéis esquerdo e direito se necessário */
.left-panel {
  background-color: #f0f2f5; /* Exemplo de cor */
}

.right-panel {
  background-color: #110a0a07; /* Exemplo de cor */
}
